<section class="quiz-info">
  <mat-card class="card">
    <mat-card-header class="header">
      <mat-card-title><mat-icon>info</mat-icon> Test Information</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <p><mat-icon>check_circle</mat-icon> <strong>Number of Questions:</strong> 10</p>
      <p><mat-icon>timer</mat-icon> <strong>Duration:</strong> 5 minutes</p>
      <p><mat-icon>star_rate</mat-icon> <strong>Score for Correct Answer:</strong> 10 points</p>
      <p><mat-icon>highlight_off</mat-icon> <strong>Penalty for Incorrect Answer:</strong> -5 points</p>
      <p><mat-icon>grade</mat-icon> <strong>Minimum Score to Pass:</strong> 70 points</p>
      <p><mat-icon>emoji_events</mat-icon> <strong>Achievements:</strong> Earn achievements when you pass the test</p>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <button mat-raised-button color="primary" (click)="start()"><mat-icon>play_circle_filled</mat-icon> Start Quiz</button>
    </mat-card-actions>
  </mat-card>
</section>
