
@import "src/assets/styles/variables.scss";

.order{
  background-color: $background-color;
  min-height: 100vh;
}

.hero-section {
  .header{
    text-align: center;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    background-color: $secondary-background-color; 
    
    h1 {
      font-size: 2rem;
      font-weight: 500;
      color: $primary-color;
    }
  
    p {
      font-size: 1rem;
      color: $secondary-text-color;
      margin-left: 2px;
    }
  }

}

.project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 10rem;
  margin-left: 10rem;
}

.card {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba($background-color, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px 0 rgba($background-color, 0.2);
  }
}

