@import "src/assets/styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $background-color;
  height: 100%;
}

.top-section {
  padding: 20px;
  margin: 50px;
  background-color: $secondary-background-color;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

  mat-card-header {
    background-color: #3f51b5;
    color: #fff;
  }

  mat-card-content {
    padding-top: 10px;
  }
}

.project-form {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  background-color: $secondary-background-color;
}

mat-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;

}

mat-card-content {
  display: flex;
  flex-direction: column;
  background-color: $secondary-background-color;
  padding: 20px;
}

mat-form-field {
  margin-bottom: 20px;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  background-color: $secondary-background-color;
}
