.project-form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

mat-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  margin-bottom: 20px;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}
