.card {
  display: flex;
  height: max-content;
  width: max(300px, 90%);
  margin: auto;
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-image {
  background-image: url('/assets/images/freelancer/freelancer-profile-picture.jpg');
  background-size: cover;
  height: 10rem;
  width: 10rem;
}




