<mat-card class="example-card">
  <img mat-card-image class="card-image" [src]="project.thumbnail" alt="Photo of a Shiba Inu">
  <mat-card-content class="card-content">
    <h2>{{ project.title }}</h2>
    <div class="card-info">
      <p>
        <span>
          <mat-icon color="primary">update</mat-icon>
          Status: 
          <span [ngClass]="{'open': project.status === 'OPEN', 'completed': project.status === 'COMPLETED', 'active': project.status === 'ACTIVE'}">
            {{ project.status }}
          </span>
        </span>
      </p>
      <p><span><mat-icon color="primary" >dashboard</mat-icon>  Skills: {{ project.skills.join(', ') }}</span></p>
    </div>
  </mat-card-content>
</mat-card>

