<mat-card class="card">
  <mat-card-header class="header">
    <mat-card-title>Test Information</mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-content">
    <p><strong>Number of Questions:</strong> 10</p>
    <p><strong>Duration:</strong> 5 minutes</p>
    <p><strong>Score for Correct Answer:</strong> 10 points</p>
    <p><strong>Penalty for Incorrect Answer:</strong> -5 points</p>
    <p><strong>Minimum Score to Pass:</strong> 70 points</p>
    <p><strong>Achievements:</strong> Earn achievements when you pass the test</p>
  </mat-card-content>
  <mat-card-actions class="card-actions">
    <button mat-raised-button color="primary" routerLink="/freelancer/test-quiz">Start Quiz</button>
  </mat-card-actions>
</mat-card>
