<main class="main-section">



  <section class="project-headers">
    <div *ngIf="projectStatus === 'open'" class="project-header">
      <h1>Open Projects</h1>
      <p>These are the projects that are currently open for Bidding</p>
    </div>

    <div *ngIf="projectStatus === 'active'" class="project-header">
      <h1>Active Projects</h1>
      <p>These are the projects that are currently In Progress</p>
    </div>

    <div *ngIf="projectStatus === 'completed'" class="project-header">
      <h1>Completed Projects</h1>
      <p>These are the projects that are currently Completed</p>
    </div>
  </section>

  <section class="search-section">
    <section class="filter-section"> 
      <h1>Filter projects</h1>
    </section>  

    <mat-form-field class="example-form-field">
      <mat-label>Search By Skill</mat-label>
      <input matInput type="text"placeholder="Eg.javascript" [(ngModel)]="searchText" (keyup.enter)="search()">
      <button *ngIf="searchText"  matSuffix mat-icon-button (click)="search()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </section>

  <section class="project-view">
        <ng-container *ngTemplateOutlet="projectList"></ng-container>
  </section>

  <ng-template #projectList>
    <section class="project-list">
      <div *ngIf="projectStatus === 'open'" class="project-container">
        <ng-container *ngFor="let project of projects">
          <app-project-card
           matTooltip="Click to view project details"
           matTooltipPosition = "above"
           [project]="project" class="card" (click)="openProject(project)"></app-project-card>
        </ng-container>
      </div>

      <div *ngIf="projectStatus === 'active'" class="project-container">
        <ng-container *ngFor="let project of projects">
          <app-project-card [project]="project" class="card"></app-project-card>
        </ng-container>
      </div>
      <div *ngIf="projectStatus === 'completed'" class="project-container">
        <ng-container *ngFor="let project of projects">
          <app-project-card [project]="project" class="card"></app-project-card>
        </ng-container>
      </div>
    </section>
  </ng-template>
  <section class="pagination">

  </section>

</main>