@import 'src/assets/styles/variables.scss';

@import 'src/assets/styles/variables.scss';

.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  height: 90vh;
  background-color: $background-color;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

  .welcome-section, .launch-project-section {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  }

  .welcome-section {
    mat-card-header {
      background-color: #3f51b5;
      color: #fff;
    }
  }

  .launch-project-section {
    mat-card-header {
      background-color: #4caf50;
      color: #fff;
    }

    button {
      margin-top: 20px;
    }
  }
}
