.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form-field{
  margin-bottom: 2rem;
}

.header{
  margin-bottom: 2rem;
}

.header p{
  text-align: center;
}

