<section class="register">
  <div class="left">
    <mat-card class="mat-card">
      <mat-card-title class="mat-card-title">
        <h1>Create a new account</h1>
      </mat-card-title>
      <mat-card-subtitle class="mat-card-subtitle">
        <p>Already have an account? <a routerLink="/auth/login">Login</a></p>
      </mat-card-subtitle>
      <mat-card-content>
        <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
          <div class="form-container">
            <div class="form-field">
              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
                <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.hasError('email')">
                  Please enter a valid email address
                </mat-error>
              </mat-form-field>
            </div>

            <div class="form-field">
              <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="password" formControlName="password" matInput>
                <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
                <mat-error
                  *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.hasError('minlength')">
                  Password must be at least 6 characters long
                </mat-error>
                <mat-error
                  *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.hasError('maxlength')">
                  Password cannot be more than 15 characters long
                </mat-error>
              </mat-form-field>
            </div>

          <div class="form-field" >
            <mat-form-field class="example-full-width">
                <mat-label>Position</mat-label>
                <mat-select formControlName="role">
                  <mat-option *ngFor="let position of POSITIONS" [value]="position.value">{{ position.viewValue }} <sub>{{position.alias}}</sub></mat-option>
                </mat-select>
            </mat-form-field>
          </div>

            <div class="form-actions">
              <button mat-raised-button color="primary" type="submit" class="register-btn">Register</button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="right">
    <img src="./../../../../assets/images/login/login-banner.jpg" alt="login-banner" class="register-banner">
  </div>
</section>