@import "../../../../assets/styles/variables.scss";

.register{
  display: flex;
  flex-direction: row-reverse;
  background-color: $background-color;
  justify-content: space-between;
  height: auto;
  padding: 2rem;
}

.right{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-banner{
  height: 40rem;
  width: 50rem;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.mat-card{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary-background-color;
  width: 40rem;
  height: 46rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.mat-card-subtitle{
  margin-bottom: 2rem;
}

.example-full-width{
  width: 25rem;
  margin-bottom: 1.5rem;
}

.form-actions{
    display: flex;
    justify-content: center;
}

 .register-btn{
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  transition: all 0.1s ease;
}

.register-btn:hover{
    filter: brightness(110%);
    transform: scale(1.05);
}


