
<section class="question-section hide">
  <div class="question-container">
    <div class="question-header">
      <div class="time-container">
        <div class="time">
          <span class="time-count"> {{timerLeftMin}} min : {{timerLeftSec}} sec </span>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="question-body">
      <h2 class="question-text">1. How do you find the length of the string in js? </h2>
      <div class="question-options">
        <div class="question-option">
          <input type="radio" name="option" id="option1" class="radio">
          <label for="option1" class="option-text">A. length()</label>
        </div>
        <div class="question-option">
          <input type="radio" name="option" id="option2" class="radio">
          <label for="option2" class="option-text">B. length</label>
        </div>
        <div class="question-option">
          <input type="radio" name="option" id="option3" class="radio">
          <label for="option3" class="option-text">C. length[]</label>
        </div>
        <div class="question-option">
          <input type="radio" name="option" id="option4" class="radio">
          <label for="option4" class="option-text">D. length</label>
        </div>
      </div>
    </div>
    <div class="question-footer">
      <div class="question-left">

        <div class="question-progress-text">
          <span class="question-number bold">1</span> of <span class="total-question bold">10</span> questions
        </div>
      </div>
      <div class="question-action">
        <button class="next-btn" mat-raised-button color="primary">Next Question
          <span><i class="fa-solid fa-arrow-right-long arrow"></i></span>
        </button>
      </div>
    </div>
  </div>
</section>
