<section class="login">
  <div class="login-left">
    <mat-card class="mat-card">
      <mat-card-title class="mat-card-title">
        <h1>Login to your account</h1>
      </mat-card-title>
      <mat-card-subtitle class="mat-card-subtitle">
        <p>Don’t have an account?
          <a routerLink="/auth/register">Join here.</a>
        </p>
      </mat-card-subtitle>
      <mat-card-content class="mat-card-content">
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
          <div class="form-container">
            <div class="form-field">
              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
                <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('email')">
                  Please enter a valid email address
                </mat-error>
              </mat-form-field>
            </div>
    
            <div class="form-field">
              <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="password" formControlName="password" matInput>
                <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('minlength')">
                  Password must be at least 6 characters long
                </mat-error> 
                <mat-error *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('maxlength')">
                  Password cannot be more than 15 characters long
                </mat-error>
                <mat-error *ngIf="loginForm.get('password')?.hasError('invalidPassword')">
                  Password must contain at least one uppercase letter, one lowercase letter, one number and one special character
                </mat-error>
              </mat-form-field>
            </div>
    
            <div class="form-actions">
              <button mat-raised-button class="login-btn" color="primary" type="submit">Login</button>
            </div>
          </div>
        </form>
    
      </mat-card-content>
    </mat-card>
  </div>
  <div class="login-right">
      <img src="./../../../../assets/images/login/login-banner.jpg" alt="login-banner" class="login-banner">
  </div>
</section>