.form-container {
  padding: 2rem;
}

.form-content {
  display: flex;
  justify-content: space-between;
}

.form-education {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.example-full-width {
  width: 100%;
}
.add-button{
  margin: 1rem 30rem;
}

