<form (ngSubmit)="onSubmit()" [formGroup]="profileForm">
  <div class="form-container">
    <div class="header">
      <h2>Profile:</h2>
    </div>
    <div class="form-content">
      <div class="form-field">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input formControlName="displayName" matInput>
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field>
          <mat-label>Skills</mat-label>
          <mat-select formControlName="skills" multiple>
            <mat-option *ngFor="let skill of SKILLS" [value]="skill">{{ skill }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <h2>Education:</h2>
  <div formArrayName="educations" *ngFor="let _ of educations.controls; let i=index">
      <div class="form-education" [formGroupName]="i">
        <div class="form-field">
          <mat-form-field>
            <mat-label>Country</mat-label>
            <mat-select formControlName="location">
              <mat-option *ngFor="let location of LOCATIONS" [value]="location">{{ location }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-field">
          <mat-form-field>
            <mat-label>CollegeName</mat-label>
            <input formControlName="collegeName" matInput>
          </mat-form-field>
        </div>

        <div class="form-field">
          <mat-form-field>
            <mat-label>Degree</mat-label>
            <mat-select formControlName="degree">
              <mat-option *ngFor="let degree of DEGREES" [value]="degree">{{ degree }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-field">
          <mat-form-field>
            <mat-label>Major</mat-label>
            <input formControlName="major" matInput>
          </mat-form-field>
        </div>

        <div class="form-field">
          <mat-form-field>
            <mat-label>Graduated Year</mat-label>
            <mat-select formControlName="graduationYear">
              <mat-option *ngFor="let year of YEARS" [value]="year">{{ year }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-icon class="delete-btn" (click)="deleteEducation(i)">
          delete_forever</mat-icon>
      </div>
    <mat-divider></mat-divider>
    </div>
    <button mat-mini-fab type="button" class="add-button" (click)="addEducation()">
      <mat-icon class="add-course-btn">add</mat-icon>
    </button>
    <h3>Bio:</h3>
    <div class="form-bio form-field">
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Bio</mat-label>
        <textarea class="bio-text" formControlName="description" #message maxlength="256" placeholder="Tell us about yourself"
                  matInput></textarea>
        <mat-hint align="end">{{ message.value.length }} / 256</mat-hint>
      </mat-form-field>
    </div>



    <div class="form-actions">
      <button mat-raised-button color="primary" type="submit">Update</button>
    </div>
  </div>
</form>
