<mat-card class="project-card">
  <mat-card-header class="project-card-header">
    <mat-card-title><mat-icon>title</mat-icon> {{ project.title }}</mat-card-title>
    <mat-card-subtitle><mat-icon>category</mat-icon> {{ project.category }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="project-card-content">
    <p><mat-icon>description</mat-icon> {{ project.description }}</p>
    <p><mat-icon>build</mat-icon> Skills: {{ project.skills.join(', ') }}</p>
    <p><mat-icon>attach_money</mat-icon> Allocated Budget: {{ project.bidAmount }}</p>
    <p><mat-icon>update</mat-icon> Status: <span class="highlight">{{ project.status }}</span> </p>
    <p><mat-icon>calendar_today</mat-icon> Deadline: {{ project.deadline | date }}</p>
  </mat-card-content>
</mat-card>
