@import "src/assets/styles/variables";

.hero-section {
  padding: 2em;
  background-color: $secondary-background-color;

  h1 {
    font-size: 2rem;
    color: $primary-text-color;
  }

  p {
    font-size: 1rem;
    color: $secondary-text-color;
    margin-left: 1px;
  }
}

.search-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-color: $background-color;
}


.project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 10rem;
  margin-left: 10rem;
}

.card {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba($background-color, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px 0 rgba($background-color, 0.2);
  }
}


.example-form-field {
  width: 30%;
}

