<section class="search-section">
  <mat-form-field class="example-form-field">
    <mat-label>Search for Project..</mat-label>
    <input matInput type="text" [(ngModel)]="searchTerm" (keyup.enter)="search()">
    <button  *ngIf="searchTerm" matSuffix mat-icon-button aria-label="Clear" (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</section>

<div class="project-list">
  <mat-card class="project-card" *ngFor="let project of projects">
    <mat-card-header>
      <mat-card-title>{{ project.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ project.description.substring(0,250) }} ....</p>
      <p>Required Skills: <span class="highlight">{{ project.skills.join(', ') }}</span></p>
      <p>Budget: <span class="highlight">{{ project.budget }} &#8377;</span></p>
      <p>Deadline: <span class="highlight">{{ project.deadline | date }}</span> </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/freelancer/project/{{ project.id }}">View Details</button>
    </mat-card-actions>
  </mat-card>
</div>
