<section class="hero-section">
  <div class="header">
    <h1>Find Projects</h1>
    <p>Find the projects that are currently open for bidding</p>
  </div>
</section>

<section class="search-section">
  <mat-form-field class="example-form-field">
    <mat-label>Search By Skill</mat-label>
    <input matInput placeholder="Eg.Javascript" type="text" [(ngModel)]="searchTerm" (keyup)="onSearch($event)" (keyup.enter)="search()">
    <button *ngIf="searchTerm" matSuffix mat-icon-button aria-label="Clear" (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</section>

<section class="project-view">
  <div class="project-list">
    <ng-container *ngFor="let project of projects">
      <app-project-card [project]="project" class="card" (click)="openProject(project)"></app-project-card>
    </ng-container>
  </div>
</section>

<section class="pagination">
  <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
    [totalRecords]="totalrecords"></p-paginator>
</section>