<div class="topnav">
  <img src="assets/images/logo/logo-no-background.png" alt="logo.png"  class="logo">
  <span class="example-spacer"></span>
  <nav class="nav">
    <ng-container *ngIf="isLogged$ | async;then loggedIn else loggedOut"></ng-container>
  </nav>
</div>

<ng-template #loggedIn>
  <ng-container *ngIf="isUser;then userIn else notUser"></ng-container>
</ng-template>

<ng-template #loggedOut>
  <button class="nav-btn" mat-button routerLink="/home">Home</button>
  <button class="nav-btn" mat-button routerLink="/auth">SignIn</button>
  <button class="nav-btn" mat-button routerLink="/auth/register">SignUp</button>
</ng-template>

<ng-template #notUser>
  <button mat-button routerLink="/home">Home</button>
</ng-template>

<ng-template #userIn>
  <button class="mat-menu-btn" mat-button [matMenuTriggerFor]="menu">
    <mat-icon>
      menu
    </mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *appRoleBasedAccess="['ROLE_ADMIN']" routerLink="/admin">Admin</button>
    <button mat-menu-item *appRoleBasedAccess="['ROLE_ADMIN']" routerLink="/admin/skills">Manages Skills</button>
    <button mat-menu-item *appRoleBasedAccess="['ROLE_ADMIN']" routerLink="/admin/skill/create">Add Skill</button>
    <button mat-menu-item *appRoleBasedAccess="['ROLE_FREELANCER']" routerLink="/freelancer/profile">My Profile</button>
    <button mat-menu-item *appRoleBasedAccess="['ROLE_FREELANCER']" routerLink="/freelancer/projects">Explore Projects</button>
    <button mat-menu-item *appRoleBasedAccess="['ROLE_FREELANCER']" routerLink="/freelancer/bids">My Bids</button>
    <button mat-menu-item *appRoleBasedAccess="['ROLE_FREELANCER']" routerLink="/freelancer/orders">My Orders</button>
    <button mat-menu-item *appRoleBasedAccess="['ROLE_FREELANCER']" routerLink="/freelancer/skills">Skill Assessments</button>
    <button mat-menu-item *appRoleBasedAccess="['ROLE_EMPLOYER']" routerLink="/employer/profile">My Profile</button>
    <button mat-menu-item *appRoleBasedAccess="['ROLE_EMPLOYER']" routerLink="/employer/project/create">Post Project</button>
    <button mat-menu-item *appRoleBasedAccess="['ROLE_EMPLOYER']" routerLink="/employer/projects" [queryParams]="{status: 'open'}" >Open Projects</button>
    <button mat-menu-item *appRoleBasedAccess="['ROLE_EMPLOYER']" routerLink="/employer/projects" [queryParams]="{status: 'active'}" >Active Projects</button>
    <button mat-menu-item *appRoleBasedAccess="['ROLE_EMPLOYER']" routerLink="/employer/projects" [queryParams]="{status: 'completed'}">Completed Projects</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>  
</ng-template>

