<mat-toolbar color="primary">
  <span>SkillSail</span>
  <span class="example-spacer"></span>
  <ng-container *ngIf="isLogged;then loggedIn else loggedOut"></ng-container>

  <ng-template #loggedOut>
    <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/auth">Login</button>
    <button mat-button routerLink="/auth/register">Register</button>
  </ng-template>

  <ng-template #loggedIn>
    <ng-container *ngIf="!user?.roles?.includes('ROLE_ADMIN');else admin">
     
      <button class="mat-menu-btn" mat-button [matMenuTriggerFor]="menu">
        <mat-icon >
          menu
        </mat-icon>
      </button>

      <mat-menu #menu="matMenu" class="mat-menu">
          <button mat-menu-item *appRoleBasedAccess="['ROLE_FREELANCER']" routerLink="/freelancer/profile">Profile</button>
          <button mat-menu-item *appRoleBasedAccess="['ROLE_EMPLOYER']"  routerLink="/employer/profile">Profile</button>
          <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>

    </ng-container>


    <ng-template #admin>
      <button mat-button routerLink="/admin">Admin</button>
    </ng-template>

  </ng-template>


</mat-toolbar>