<section class="project">
  <div class="project-info">
    <mat-card class="project-details">
      <mat-card-title>{{ project.title | titlecase }}</mat-card-title>
      <mat-card-content>
        <mat-list>
          <mat-list-item><strong>Category:</strong> {{ project.category }}</mat-list-item>
          <mat-list-item><strong>Skills required:</strong> {{ project.skills.join(', ') }}</mat-list-item>
          <mat-list-item><strong>Budget:</strong><span class="open"> &#8377; {{ project.budget }}</span> </mat-list-item>
          <mat-list-item><strong>Deadline:</strong> {{ project.deadline | date}}</mat-list-item>
          <mat-list-item><strong>Bid Deadline:</strong> {{ project.bidDeadline | date }}</mat-list-item>
          <mat-list-item><strong>Status:</strong> <span class="open"> {{ project.status }}</span> </mat-list-item>
          <mat-list-item><a href="javascript:void(0)" (click)="openProjectDetails()">
            <strong>
              click here to view more about project details
            </strong>
          </a></mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <mat-card class="employer-details">
      <mat-card-title>Employer Details</mat-card-title>
      <mat-card-content>
        <img mat-card-image [src]="employer.companyLogo" alt="Company Logo">
        <mat-list>
          <mat-list-item><strong>Company Name:</strong> {{ employer.companyName }}</mat-list-item>
          <mat-list-item><strong>Location:</strong> {{ employer.companyLocation }}</mat-list-item>
          <mat-list-item><strong>Industry:</strong> {{ employer.companyIndustry }}</mat-list-item>
        </mat-list>

        <div class="description">
          <mat-card-title>About Us:</mat-card-title>
          <mat-card-subtitle>{{ employer.companyDescription }}</mat-card-subtitle>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="bid-section">
    <button mat-raised-button color="primary" (click)="openBidDialog()">Place Bid</button>
  </div>
</section>
