<mat-card class="card">
    <mat-card-header class="header">
      <mat-card-title class="card-title">
          <h2>
            <mat-icon class="icon">business</mat-icon>
            About
          </h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
      <mat-divider></mat-divider>
      <div class="companyDescription">
          <h4>Description:</h4>
          <p>{{companyDescription}}</p>
      </div>
      <mat-divider></mat-divider>
        <div class="companyEmail">
            <h4>
              <mat-icon class="icon">email</mat-icon>
              Email:
            </h4>
            <p>{{companyEmail}}</p>
        </div>
      <mat-divider></mat-divider>
        <div class="companyWebsite">
            <h4>companyWebsite:</h4>
            <p>{{companyWebsite}}</p>
        </div>
      <mat-divider></mat-divider>
        <div class="companyLocation">
            <h4>Location:</h4>
            <p>{{companyLocation}}</p>
        </div>
        <mat-divider></mat-divider>
        <div class="companyIndustry">
            <h4>Industry:</h4>
            <p>{{companyIndustry}}</p>
        </div>
      
    </mat-card-content>
  </mat-card>
  