$primary-color: #039be5;
$secondary-color: #B0C5A4;
$warn-color: #f44336;
$accent-color: #ff4081;
$background-color: #FFF3C7;
$secondary-background-color: #f4f4f4;
$primary-text-color: #212121;
$secondary-text-color: #757575;

