$primary-color: #E65C2D ;//#E55C3E;
$secondary-color: #FBF3D5;
$warn-color: #f44336;
$accent-color: #ff4081;
$background-color: #FFFFFF;
$secondary-background-color: #f4f4f4;
$primary-text-color: #000000;
$secondary-text-color: #757373;

