$primary-color: #E55C3E;
$secondary-color: #1F2ECE;
$warn-color: #f44336;
$accent-color: #ff4081;
$background-color: #FFFFFF;
$secondary-background-color: #f4f4f4;
$primary-text-color: #000000;
$secondary-text-color: #3f3f3f;

