.form-container{
  margin-top: 1rem;
}

.form-group{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1rem;
}
.form-group-type{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}

.form-group-type .field{
  width: 19rem;
}


.form-control{
  width: 40rem;
  margin-top: 1rem;
}

.form-actions{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1rem;
}

